@import "@/styles/mixins.scss";

@font-face {
  font-family: 'Tele 2';
  src: local('Tele 2'), local('Tele 2'),
    url('../assets/fonts/tele2_textsans-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;    
}

.container {
  max-width: 1146px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 18px;
  padding-right: 18px;
}